{% extends "lifesaving_rankings/base.html" %}
{% load crispy_forms_filters %}

{% block head_title %}
    {% if new_group %}
        Create new group
    {% else %}
        Edit group
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">

        <div class="col-md-4">
            <h1>
                {% if new_group %}
                    Create new group
                {% else %}
                    Edit group
                {% endif %}
            </h1>
            <form action="" method="post">{% csrf_token %}

                {{ form.non_field_errors }}
                {{ form.name|as_crispy_field }}
                {{ form.athlete }}
                {{ form.public|as_crispy_field }}
                {{ form.gender|as_crispy_field }}

                <a href="{% url "private-group-list" %}">
                    <button class="btn secondary">Cancel</button>
                </a>
                <input type="submit" value="Update" class="btn btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}