{% extends "lifesaving_rankings/base.html" %}
{% load widget_tweaks django_bootstrap_breadcrumbs styled_fields %}

{% block head_title %}
    {% if new_group %}
        Create a new group
    {% else %}
        Edit group
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Analysis" "public-group-list" %}
    {% if new_group %}
        {% breadcrumb "Create" "group-create" %}
    {% else %}
        {% with label="Edit"|add:" '"|add:analysisgroup.name|add:"'" %}
            {% breadcrumb label "group-edit" analysisgroup.id %}
        {% endwith %}
    {% endif %}

    {% render_breadcrumbs "lifesaving_rankings/breadcrumb_template.html" %}
{% endblock %}

{% block content %}
    <h1>
        {% if new_group %}
            Create a new group
        {% else %}
            Edit group
        {% endif %}
    </h1>

    <form action="" method="post" class="ui narrow form">{% csrf_token %}

        {% styled_fields form %}

        <div class="ui buttons">
            <a href="{% url "private-group-list" %}" class="ui button">
                Cancel
            </a>
            <div class="or"></div>
            <button class="ui positive button" type="submit">
                {% if new_group %}Create{% else %}Update{% endif %}
            </button>
        </div>

    </form>
{% endblock %}