{% extends "lifesaving_rankings/base.html" %}

{% block head_title %}{% if public %}Public groups{% else %}My groups{% endif %}{% endblock %}

{% block content %}
    <h1>
        {% if public %}
            Public groups
        {% else %}
            My groups
        {% endif %}
    </h1>
    {% if public %}
        <a href="{% url 'private-group-list' %}">
            <button class="ui right labeled icon button">
                <i class="right arrow icon"></i>
                Go to My Groups
            </button>
        </a>
    {% else %}
        <a href="{% url 'public-group-list' %}">
            <button class="ui left labeled icon button">
                <i class="left arrow icon"></i>
                Go to Public Groups
            </button>
        </a>
    {% endif %}

    <a href="{% url 'group-create' %}" class="ui right floated">
        <button class="ui icon button" data-tooltip="Create a group"><i class="plus square icon"></i></button>
    </a>

    <br>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Group id</th>
            <th>Group name</th>
            <th>Number of members</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for group in object_list %}
            <tr>
                <td>{{ group.id }}</td>
                <td>
                    {{ group.name }}
                </td>
                <td>{{ group.athlete.count }}</td>
                <td class="analysis-actions">


                    <div class="ui icon mini buttons">
                        <a href="{% url 'individual-analysis' group.id %}">
                            <button class="ui left attached button" data-tooltip="Individual analysis"><i
                                    class="user icon"></i></button>
                        </a>
                        <a href="{% url 'relay-analysis' group.id %}">
                            <button class="right attached ui button"
                                    data-tooltip="Relay analysis"><i class="users icon"></i></button>
                        </a>
                    </div>
                    {% if group.creator == request.user %}
                        <div class="ui icon mini buttons">
                            <a href="{% url 'group-edit' group.id %}">
                                <button class="ui button edit"><i class="edit icon"></i></button>
                            </a>
                        </div>
                    {% endif %}

                </td>
            </tr>
        {% empty %}
            No groups yet.
        {% endfor %}
        </tbody>
    </table>


{% endblock %}