{% extends "lifesaving_rankings/account.html" %}
{% load django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block head_title %}My groups{% endblock %}

{% block breadcrumbs %}

    {% breadcrumb "Home" "/" %}
    {% breadcrumb "My Account" "account" %}
    {% breadcrumb "My analysis groups" "private-group-list" %}

    {% render_breadcrumbs "lifesaving_rankings/breadcrumb_template.html" %}

{% endblock %}

{% block account_content %}
    <h1>My analysis groups</h1>
    <a href="{% url 'public-group-list' %}" class="ui button">
        Go to Public Groups
    </a>

    <a href="{% url 'group-create' %}" class="ui right floated left labeled primary icon button">
        <i class="plus square icon"></i>
        Create a group
    </a>

    <br><br>

    {% render_table table %}

{% endblock %}