{% extends "lifesaving_rankings/base.html" %}

{% block head_title %}My groups{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h1>
                {% if public %}
                    Public groups
                {% else %}
                    My groups
                {% endif %}
            </h1>
        </div>
        <div class="col-xs-2 text-right">
            <a href="{% url 'group-create' %}"><h1><i class="glyphicon glyphicon-plus"></i></h1></a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>Group id</td>
            <td>Group name</td>
            <td>Number of members</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for group in object_list %}
            <tr>
                <td>{{ group.id }}</td>
                <td>
                    {{ group.name }}
                </td>
                <td>{{ group.athlete.count }}</td>
                <td class="analysis-actions">
                <span class="analysis-action" data-toggle="tooltip" title="Individual analysis">
                    <a href="{% url 'individual-analysis' group.id %}">
                        <i class="fa fa-user"></i>
                    </a>
                </span>
                    <span class="analysis-action" data-toggle="tooltip" title="
                                                            {% if group.relay_analysis_available %}Relay analysis
                                                            {% else %}Relay analysis not available
                                                            {% endif %}">
                    <a {% if group.relay_analysis_available %}href="{% url 'relay-analysis' group.id %}"{% endif %}>
                            <i class="fa fa-users"></i>
                    </a>
                </span>
                    {% if not public %}
                        <span class="analysis-action" data-toggle="tooltip" title="Edit">
                        <a href="{% url 'group-edit' group.id %}">
                            <i class="fa fa-pencil-alt"></i>
                        </a>
                        </span>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            No groups yet.
        {% endfor %}
        </tbody>
    </table>


{% endblock %}