{% extends "lifesaving_rankings/base.html" %}

{% block head_title %}My groups{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-10">
            <h1>
                {% if public %}
                    Public groups
                {% else %}
                    My groups
                {% endif %}
            </h1>
        </div>
        <div class="col-xs-2 text-right">
            <a href="{% url 'group-create' %}"><h1><i class="glyphicon glyphicon-plus"></i></h1></a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>Group id</td>
            <td>Group name</td>
            <td>Number of members</td>
            {% if not public %}
                <td>Edit</td>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for group in object_list %}
            <tr>
                <td>{{ group.id }}</td>
                <td>
                    <a href="{% url 'group-analysis' group.id %}">
                        {{ group.name }}
                    </a>
                </td>
                <td>{{ group.athlete.count }}</td>
                {% if not public %}
                    <td>
                        <a href="{% url 'group-edit' group.id %}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% empty %}
            No groups yet.
        {% endfor %}
        </tbody>
    </table>


{% endblock %}