{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter %}
{% load to_url_filter %}
{% load id_to_athlete_name %}
{% load analysis_filters %}
{% block head_title %}Analysis {% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                {% for event in events %}
                    <th>
                        {{ event.name }}
                    </th>
                {% endfor %}

            </tr>

            </thead>

            <tbody>
            <tr>
                <td>WC 2016 best 16</td>
                {% for event in events %}
                    <td>
                        {{ special_results|find_special_time_by_event:event }}
                    </td>
                {% endfor %}
            </tr>



            {% for athlete_id, qs in results.items %}
                <tr>
                    <td>
                        <a href="{% url 'athlete-overview' athlete_id|id_to_athlete_name|to_url %}">
                            {{ athlete_id|id_to_athlete_name }}
                        </a>
                    </td>
                    {% for results in qs %}
                        {% if results %}
                            {% for result in results %}
                                <td>
                                    <div class="analysis-time">
                                        {{ result.pb|format_time }}<br>
                                        <span class="analysis-percentage">{{ result|calculate_percentage:special_results }}</span>
                                    </div>

                                </td>
                            {% endfor %}
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript_after %}
    <script>
        colorPercentages();
    </script>
{% endblock %}