{% extends "lifesaving_rankings/account.html" %}

{% load i18n styled_fields django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block head_title %}Extra times{% endblock %}

{% block breadcrumbs %}

    {% breadcrumb "Home" "/" %}
    {% breadcrumb "My Account" "account" %}
    {% breadcrumb "My extra times" "extra-times-list" %}

    {% render_breadcrumbs "lifesaving_rankings/breadcrumb_template.html" %}

{% endblock %}

{% block account_content %}
    <h1>Extra times</h1>
    <p>These extra times are added by you and are <strong>only</strong> visible in analysis groups created by you.</p>
    {% render_table table %}
{% endblock %}