{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter %}
{% load to_url_filter %}
{% load id_to_athlete_name %}
{% load id_to_slug %}
{% load analysis_filters %}
{% load widget_tweaks %}
{% block head_title %}Individual analysis{% endblock %}
{% block content %}

    <div class="ui stackable grid">
        <div class="ui twelve wide column">
            <h1 class="ui header">Individual Analysis: {{ analysis_group.name }}</h1>
        </div>

        <div class="ui four wide column">
            {% if request.user == analysis_group.creator %}
                <a href="{% url 'group-edit' analysis_group.id %}">
                    <button class="ui labeled icon button right floated">
                        <i class="edit icon"></i>Edit this group
                    </button>
                </a>
            {% endif %}
        </div>
    </div>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Name</th>
            {% for event in events %}
                <th>
                    {{ event.name }}
                </th>
            {% endfor %}

        </tr>

        </thead>

        <tbody>
        <tr>
            <td>WC 2016 best 16</td>
            {% for event in events %}
                <td>
                    {{ special_results|find_special_time_by_event:event }}
                </td>
            {% endfor %}
        </tr>



        {% for athlete_id, qs in results.items %}
            <tr>
                <td>
                    <a href="{% url 'athlete-overview' athlete_id|id_to_slug %}">
                        {{ athlete_id|id_to_athlete_name }}
                    </a>
                </td>
                {% for results in qs %}
                    {% if results %}
                        {% for result in results %}
                            <td>
                                <div class="analysis-time">
                                    {{ result.pb|format_time }}<br>
                                    <span class="analysis-percentage">{{ result|calculate_percentage:special_results }}</span>
                                </div>

                            </td>
                        {% endfor %}
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>

    <form action="" method="get" class="ui input filter">{% csrf_token %}
        {% for field in form %}
            {% render_field field %}
        {% endfor %}
        <button class="ui submit button" type="submit">Filter</button>
    </form>
{% endblock %}

{% block javascript_after %}
    <script>
        colorPercentages();
    </script>
{% endblock %}