{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter %}

{% block head_title %}Relay analysis{% endblock %}

{% block content %}

    <h1>Relay Analysis: {{ analysis_group.name }}</h1>

    {% if analysis_group.creator == request.user and not analysis_group.simulation_in_progress %}
        <a href="{% if analysis_group.athlete.count <= 10 %}{% url 'relay-analysis' analysis_group.id %}?run_simulation=1{% endif %}"
           {% if analysis_group.athlete.count > 10 %}data-tooltip="Group is too big (max. 10) to run simulation"{% endif %}>
            <button class="ui left labeled icon button{% if analysis_group.athlete.count > 10 %} disabled{% endif %}">
                <i class="right refresh icon"></i>
                Run simulation
            </button>
        </a>
        <br>
        <br>
    {% elif analysis_group.simulation_in_progress %}
        <div class="ui icon message">
            <i class="notched circle loading icon"></i>
            <div class="content">
                <div class="header">
                    Simulation in progress
                </div>
                <p>Check back later for complete analysis</p>
            </div>
        </div>
    {% endif %}

    <table class="ui celled table" id="teamMaker">
        <thead>
        <tr>
            <th>Team</th>
            {% for event in events %}
                <th>{{ event.name }}</th>
            {% endfor %}
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for group_team in group_teams %}
            <tr>
                <td>
                    {% for athlete in group_team.athletes.all %}
                        {{ athlete.name }}<br>
                    {% endfor %}
                </td>
                {% for setup in group_team.get_ordered_setups %}
                    <td>
                        {% if setup.time %}
                            <strong>{{ setup.time|format_time }}</strong><br>
                            {% for athlete in setup.get_athletes_ordered_by_index %}
                                {{ athlete.name }}<br>
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                    {{ group_team.get_total_time|format_time }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}