{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter django_bootstrap_breadcrumbs %}

{% block head_title %}Relay analysis{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Analysis" "public-group-list" %}
    {% with page_name=analysis_group.name|add:" "|add:"relay analysis" %}
        {% breadcrumb page_name "relay-analysis" analysis_group.id %}
    {% endwith %}

    {% render_breadcrumbs "lifesaving_rankings/breadcrumb_template.html" %}
{% endblock %}


{% block content %}
    <h1 class="ui header">Relay Analysis: {{ analysis_group.name }}</h1>

    <div class="ui styled fluid accordion">
        <div class="title"><i class="dropdown icon"></i>Explanation</div>
        <div class="content">
            Relay Analysis tries to answer the following question: which athletes do I need to select to create the
            fastest team on relays?<br>
            When you run a simulation, every possible team of 6 athletes will be created. For those teams the fastest
            setups for each of the relays will be calculated.<br>
            Note:
            <ul>
                <li>When an athlete in a possible team is not used in one of the fastest relay setups, it will be removed from the possible team</li>
            </ul>
        </div>
    </div>

    <br>

    {% if analysis_group.simulation_date_from %}
        <p>The simulation below was run with times from {{ analysis_group.simulation_date_from }} and later</p>
    {% endif %}

    {% if analysis_group.creator == request.user and not analysis_group.simulation_in_progress %}

        <form action="" method="post" class="ui form input filter">{% csrf_token %}
            <div class="fields">
                <div class="field">
                    <label>{{ form.from_date.label }}</label>
                    <div class="ui date calendar">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            {{ form.from_date }}
                        </div>
                    </div>
                </div>

                <div class="field">
                    <button class="ui submit left labeled primary icon button{% if analysis_group.athletes.count > 10 %} disabled{% endif %}"
                            {% if analysis_group.athletes.count > 10 %}data-tooltip="Group is too big (max. 10) to run simulation"{% endif %}
                            type="submit">
                        <i class="right refresh icon"></i>
                        Run simulation
                    </button>
                </div>
            </div>
        </form>

        <br>
        <br>

    {% elif analysis_group.simulation_in_progress %}

        <div class="ui indicating progress" id="labeledAthletes" data-percent="{{ progress }}">
            <div class="bar">
                <div class="progress"></div>
            </div>
            <div class="label">
                Simulation in progress, check back later for complete analysis.
            </div>
        </div>
    {% endif %}

    <table class="ui celled table" id="teamMaker">
        <thead>
        <tr>
            <th>Team</th>
            {% for event in events %}
                <th>{{ event.name }}</th>
            {% endfor %}
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for group_team in group_teams %}
            <tr>
                <td>
                    {% for athlete in group_team.get_used_athletes %}
                        {{ athlete.name }}<br>
                    {% endfor %}

                    {% if group_team.get_unused_athletes %}
                        <hr>
                        {% for athlete in group_team.get_unused_athletes %}
                            {{ athlete.name }}<br>
                        {% endfor %}
                    {% endif %}
                </td>
                {% for setup in group_team.get_ordered_setups %}
                    <td>
                        {% if setup.time %}
                            <strong>{{ setup.time|format_time }}</strong><br>
                            {% for athlete in setup.get_athletes_ordered_by_index %}
                                {{ athlete.name }}<br>
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                    {{ group_team.get_total_time|format_time }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}