{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter %}

{% block content %}
    <table class="table table-bordered" id="teamMaker">
        <thead>
        <tr>
            <th>Team</th>
            {% for event in events %}
                <th>{{ event.name }}</th>
            {% endfor %}
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for group_team in group_teams %}
            <tr>
                <td>
                    {% for athlete in group_team.athletes.all %}
                        {{ athlete.first_name }} {{ athlete.last_name }}<br>
                    {% endfor %}
                </td>
                {% for setup in group_team.get_ordered_setups %}
                    <td>
                        {% if setup.time %}
                            <strong>{{ setup.time|format_time }}</strong><br>
                            {% for athlete in setup.athletes.all %}
                                {{ athlete.first_name }}<br>
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                    {{ group_team.get_total_time|format_time }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    {% if request.user.is_superuser %}
        <a href="{% url 'relay-analysis' analysis_group.id %}?run_simulation=1" class="float-right"><i class="fa fa-sync"></i></a>
    {% endif %}
{% endblock %}