[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "~=2.22"
django-filter = "~=2.2"
argcomplete = "~=1.9"
botocore = "~=1.13"
click = "~=7.1"
hjson = "~=3.0"
toml = "~=0.10"
future = "~=0.16"
python-dateutil = "~=2.6"
boto3 = "~=1.10"
troposphere = "~=2.5"
tqdm = "~=4.19"
six = "~=1.13"
zappa = "~=0.48"
durationpy = "~=0.5"
Django = "~=3.0"
PyYAML = "~=5.3"
Werkzeug = "~=0.16"
django-environ = "~=0.4"
psycopg2 = "~=2.8"
psycopg2-binary = "~=2.8"
django-widget-tweaks = "~=1.4"
django-allauth = "~=0.40"
django-s3-storage = "~=0.13"
django-bootstrap-breadcrumbs = "~=0.9"
django-mathfilters = "~=0.4"
django-tables2 = "~=2.3"
lambda_packages = "~=0.20"
django-debug-toolbar = "*"
django-hcaptcha = "*"

[requires]
python_version = "3.6"
