amqp==1.4.9
anyjson==0.3.3
argcomplete==1.9.3
base58==1.0.3
beautifulsoup4==4.8.0
billiard==3.3.0.23
boto3==1.9.149
botocore==1.12.149
celery==3.1.26.post2
certifi==2019.3.9
cfn-flip==1.2.0
chardet==3.0.4
Click==7.0
defusedxml==0.6.0
Django==2.1.11
django-allauth==0.39.1
django-appconf==1.0.3
django-bootstrap-breadcrumbs==0.9.1
django-bootstrap-form==3.4
django-celery==3.3.1
django-debug-toolbar==1.11
django-environ==0.4.5
django-google-analytics-app==4.3.10
django-mathfilters==0.4.0
django-sites==0.10
django-storages==1.6.6
django-widget-tweaks==1.4.3
docutils==0.14
durationpy==0.5
environ==1.0
future==0.16.0
futures==3.1.1
hjson==3.0.1
idna==2.8
jmespath==0.9.3
kappa==0.6.0
kombu==3.0.37
lambda-packages==0.20.0
oauthlib==3.0.1
packaging==19.0
placebo==0.9.0
psycopg2==2.8.2
psycopg2-binary==2.8.2
pyparsing==2.4.0
python-dateutil==2.6.1
python-slugify==1.2.4
python3-openid==3.1.0
pytz==2019.1
PyYAML==5.1
requests==2.21.0
requests-oauthlib==1.2.0
s3transfer==0.2.0
six==1.12.0
soupsieve==1.9.3
sqlparse==0.3.0
structlog==19.1.0
text-unidecode==1.2
toml==0.10.0
tqdm==4.19.1
troposphere==2.4.6
Unidecode==1.0.23
urllib3==1.24.3
virtualenv==16.6.0
Werkzeug==0.15.4
wsgi-request-logger==0.4.6
zappa==0.48.2
