{% extends "base.html" %}

{% block head_title %}Merge requests{% endblock %}

{% block content %}
    <h1 class="ui header">Open merge requests</h1>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Athletes</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for merge_request in object_list %}
            <tr>
                <td>{{ merge_request.pk }}</td>
                <td>
                    {% for athlete in merge_request.athletes.all %}
                        {{ athlete.name }} ({{ athlete.year_of_birth }}) {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'merge-request-delete' merge_request.pk %}">
                        <button class="ui button">Close</button>
                    </a>
                    <a href="{% url 'merge-request-detail' merge_request.pk %}">
                        <button class="ui button">Start merging</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}