{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter django_bootstrap_breadcrumbs to_url_filter year_of_birth_filter %}

{% block head_title %}{{ competition.name }}{% endblock %}
{% block meta_description %}
    All the results for the Lifesaving pool competition {{ competition.name }} in {{ competition.location }}
{% endblock %}

{% block breadcrumbs %}

    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Competitions" "competition-list" %}
    {% breadcrumb competition.name "competition-overview" competition.slug %}

    {% render_breadcrumbs "lifesaving_rankings/breadcrumb_template.html" %}

{% endblock %}


{% block content %}

    <h1 class="ui header">{{ competition.name }} - {{ competition.date }}</h1>

    <a href="{% url 'competition-list' %}" class="button back">
        <button class="ui left labeled icon button">
            <i class="left list icon"></i>
            All competitions
        </button>
    </a>

    {% if competition.is_concept and request.user.is_superuser %}
        <a href="{% url 'competition-overview' competition.slug %}?publish=true" class="button back">
            <button class="ui left labeled icon button">
                <i class="left eye icon"></i>
                Publish
            </button>
        </a>
        <a href="{% url 'competition-overview' competition.slug %}?delete=true" class="button back">
            <button class="ui left labeled icon button">
                <i class="left trash icon"></i>
                Delete
            </button>
        </a>
    {% endif %}


    {% for event, results_by_gender in events.items %}
        <h2 class="ui header">{{ event }}</h2>
        <div class="ui stackable two column grid">
            {% for gender, results in results_by_gender.items %}
                <div class="column">
                    <h3 class="ui header">{{ gender|capfirst }}</h3>
                    <table class="ui celled table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Athlete</th>
                            <th>YoB</th>
                            <th>Time</th>
                            <th>Points</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in results %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'athlete-overview' result.athlete.slug %}">{{ result.athlete.name }}</a>
                                </td>
                                <td>{{ result.athlete.year_of_birth|format_year_of_birth }}</td>
                                <td>{{ result.time|format_time }}</td>
                                <td>{% if result.points > 0 %}{{ result.points }}{% else %} - {% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'competition-event' competition.slug event|to_url gender %}">More results</a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}