{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter %}
{% load to_url_filter %}

{% block head_title %}{{ competition.name }}{% endblock %}
{% block meta_description %}Overview for all results of {{ competion.name }} on Lifesaving Rankings{% endblock %}

{% block content %}

    <h1 class="ui header">{{ competition.name }}</h1>

     <a href="{% url 'competition-list' %}" class="button back">
        <button class="ui left labeled icon button">
            <i class="left list icon"></i>
            All competitions
        </button>
    </a>


    {% for event, results_by_gender in events.items %}
        <h2 class="ui header">{{ event }}</h2>
        <div class="ui stackable two column grid">
            {% for gender, results in results_by_gender.items %}
                <div class="column">
                    <h3 class="ui header">{{ gender|capfirst }}</h3>
                    <table class="ui celled table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Athlete</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in results %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'athlete-overview' result.athlete.slug %}">{{ result.athlete.first_name }} {{ result.athlete.last_name }}</a>
                                </td>
                                <td>{{ result.time|format_time }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'competition-event' competition.slug event|to_url gender %}">More results</a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}