{% extends "lifesaving_rankings/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block head_title %}Competitions{% endblock %}
{% block meta_description %}All competitions available on Lifesaving Rankings{% endblock %}

{% block breadcrumbs %}

    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Competitions" "competition-list" %}

    {% render_breadcrumbs "lifesaving_rankings/breadcrumb_template.html" %}

{% endblock %}

{% block content %}
    <h1 class="ui header">Competitions</h1>

    <a href="{% url 'request-competition' %}">
        <button class="ui left labeled icon button">
            <i class="plus icon"></i>
            Request a competition
        </button>
    </a>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Competition</th>
            <th>Date</th>
            <th>Location</th>
            <th>Participants</th>
            {% if request.user.is_staff %}
                <th>Fully labeled</th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for competition in object_list %}
            {% if competition.get_athlete_count > 0 %}
                <tr>
                    <td>
                        <a href="{% url 'competition-overview' competition.slug %}">
                            {{ competition.name }}
                        </a>
                        {% if competition.is_concept %}[CONCEPT]{% endif %}
                    </td>
                    <td>{{ competition.date }}</td>
                    <td>{{ competition.location }}</td>
                    <td>{{ competition.get_athlete_count }}</td>
                    {% if request.user.is_staff %}
                        <td>{% if competition.is_fully_labeled %}<i class="green check icon"></i>{% else %}<i class="red times icon"></i>{% endif %}</td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}