{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter django_bootstrap_breadcrumbs to_url_filter static %}

{% block head_title %}{{ competition.name }} results{% endblock %}
{% block meta_description %}
    All the results for the Lifesaving pool competition {{ competition.name }} in {{ competition.location }}
{% endblock %}

{% block breadcrumbs %}

    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Competitions" "competition-list" %}
    {% breadcrumb competition.name "competition-overview" competition.slug %}

    {% render_breadcrumbs "lifesaving_rankings/breadcrumb_template.html" %}

{% endblock %}


{% block content %}

    <h1 class="ui header">{{ competition.name }} results</h1>

    {% if request.user.is_superuser %}
        <form action="" method="post" class="ui form">{% csrf_token %}
            <div class="ui fluid search selection dropdown left floated nationalities" style="width: 200px;">
                <input type="hidden" name="country" value="{{ athlete.nationality.pk }}" required autofocus="autofocus">
                <i class="dropdown icon"></i>
                <div class="default text">Select Country</div>
                <div class="menu">
                    {% for nationality in nationalities %}
                        <div class="item" data-value="{{ nationality.pk }}"><i
                                class="{{ nationality.flag_code }} flag"></i>{{ nationality.name }}</div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="ui green button right floated" style="margin-top: -37px;">Save</button>
        </form>
        <br>
    {% endif %}

    {% if request.user.is_superuser %}
        {% if not competition.is_imported %}
            <a href="{% url 'competition-overview' competition.slug %}?publish=true" class="button back">
                <button class="ui left labeled icon button">
                    <i class="left eye icon"></i>
                    Publish
                </button>
            </a>
        {% endif %}
        <a href="{% url 'competition-overview' competition.slug %}?delete=true" class="button back">
            <button class="ui left labeled icon red button">
                <i class="left trash icon"></i>
                Delete
            </button>
        </a>
        <a href="/admin/rankings/competition/{{ competition.id }}/change/" class="button back">
            <button class="ui left labeled icon button">
                <i class="left pencil icon"></i>
                Edit
            </button>
        </a>
    {% endif %}


    <div class="ui stackable two column grid">
        <div class="column">
            <table class="ui definition compact table">
                <tbody>
                <tr>
                    <td>Location</td>
                    <td>{{ competition.location }}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>{{ competition.date }}</td>
                </tr>
                <tr>
                    <td>Participants</td>
                    <td>{{ competition.get_athlete_count }}</td>
                </tr>
                <tr>
                    <td>Results</td>
                    <td>{{ competition.get_result_count }}</td>
                </tr>
                <tr>
                    <td>Original file</td>
                    <td>
                        {% if competition.file_name %}
                            <a href="{% static 'pdfs/'|add:competition.file_name %}" target="_blank">
                                <button class="ui compact icon tiny button">
                                    <i class="file icon"></i>
                                </button>
                            </a>
                        {% else %}
                            <i class="minus icon"></i>
                        {% endif %}
                    </td>
                </tr>
                {% if competition.published_on %}
                    <tr>
                        <td>Published on</td>
                        <td>{{ competition.published_on }}</td>
                    </tr>
                {% endif %}
                {% if competition.credit %}
                    <tr>
                        <td>Thanks to</td>
                        <td>{{ competition.credit|safe }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    {% for event, results_by_gender in events.items %}
        <h2 class="ui header">{{ event }}</h2>
        <div class="ui stackable two column grid">
            {% for gender, results in results_by_gender.items %}
                <div class="column">
                    <h3 class="ui header">{{ gender|capfirst }}</h3>
                    <table class="ui celled table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Athlete</th>
                            <th>YoB</th>
                            <th>Time</th>
                            <th>Points</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in results %}
                            <tr>
                                <td>
                                    {% if result.round > 0 and forloop.counter <= 3 %}
                                        {% if forloop.counter == 1 %}
                                            <div class="medal gold">{{ forloop.counter }}</div>
                                        {% elif forloop.counter == 2 %}
                                            <div class="medal silver">{{ forloop.counter }}</div>
                                        {% elif forloop.counter == 3 %}
                                            <div class="medal bronze">{{ forloop.counter }}</div>
                                        {% endif %}
                                    {% else %}
                                        {{ forloop.counter }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'athlete-overview' result.athlete.slug %}">
                                        {% for nationality in result.athlete.nationalities.all %}
                                            <i class="{{ nationality.flag_code }} flag"
                                               title="{{ nationality.name }}"></i>
                                        {% endfor %}
                                        {{ result.athlete.name }}
                                    </a>
                                </td>
                                <td>{{ result.athlete.year_of_birth }}</td>
                                <td>{% include 'rankings/partials/time.html' with individual_result=result %}</td>
                                <td>{% if result.points > 0 %}{{ result.points }}{% else %} - {% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'competition-event' competition.slug event|to_url gender %}">More results</a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    {% if request.user.is_staff %}
        <p>
        <h3>Unlabeled athletes</h3>
        {% if unlabeled_athletes %}
            <ul>
                {% for athlete in unlabeled_athletes %}
                    <li><a href="{% url 'athlete-overview' athlete.slug %}">{{ athlete.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            All athletes are labeled in this competition!
        {% endif %}
        </p>
    {% endif %}
{% endblock %}