{% extends "lifesaving_rankings/base.html" %}
{% load static datetime_filter %}

{% load django_bootstrap_breadcrumbs %}

{% block head_title %}Competitions{% endblock %}
{% block meta_description %}All competitions available on Lifesaving Rankings{% endblock %}

{% block breadcrumbs %}

    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Competitions" "competition-list" %}

    {% render_breadcrumbs "lifesaving_rankings/breadcrumb_template.html" %}

{% endblock %}

{% block content %}
    <h1 class="ui header">Competitions</h1>

    <a href="{% url 'request-competition' %}">
        <button class="ui left labeled icon button request-a-competition">
            <i class="plus icon"></i>
            Request a competition
        </button>
    </a>

    <div id="competition-filters">
        <div class="ui checkbox">
            <input type="checkbox" name="imported" checked>
            <label>Imported</label>
        </div>
        <div class="ui checkbox">
            <input type="checkbox" name="wanted" checked>
            <label>Results wanted</label>
        </div>
        <div class="ui checkbox">
            <input type="checkbox" name="scheduled">
            <label>Scheduled for import</label>
        </div>
        <div class="ui checkbox">
            <input type="checkbox" name="unable">
            <label>Unable to import</label>
        </div>
    </div>

    <table class="ui celled table" id="competitionList">
        <thead>
        <tr>
            <th>Competition</th>
            <th>Date</th>
            <th>Location</th>
            <th>Participants / Status</th>
            <th>Original file</th>
            {% if request.user.is_staff %}
                <th>Unlabeled</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for competition in object_list %}
            <tr>
                <td>
                    {% if competition.is_imported or request.user.is_superuser %}
                        <a href="{% url 'competition-overview' competition.slug %}">
                            {{ competition.name }}
                        </a>
                    {% else %}
                        {{ competition.name }}
                    {% endif %}
                    {% if competition.is_concept %}[CONCEPT]{% endif %}
                </td>
                <td>
                    <span hidden>{{ competition.date|date:"Y-m-d" }}</span>
                    {{ competition.date }}
                </td>
                <td>{{ competition.location }}</td>
                <td>
                    {% if competition.is_imported %}
                        {{ competition.get_athlete_count }}
                    {% elif competition.date|in_future %}
                        Upcoming
                    {% else %}
                        {{ competition.get_status_display }}
                    {% endif %}
                </td>
                <td>
                    {% if competition.file_name %}
                        <a href="{% static 'pdfs/'|add:competition.file_name %}" target="_blank">
                            <button class="ui compact icon tiny button">
                                <i class="file icon"></i>
                            </button>
                        </a>
                    {% else %}
                        <i class="minus icon"></i>
                    {% endif %}
                </td>
                {% if request.user.is_staff %}
                    <td>
                        {% if not competition.is_imported %}
                            <i class="minus icon"></i>
                        {% elif competition.is_fully_labeled %}
                            <i class="green check icon"></i>
                        {% else %}
                            {{ competition.get_unlabeled_athletes|length }}
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}