{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter django_bootstrap_breadcrumbs to_url_filter gender_to_text_filter year_of_birth_filter %}
{% block head_title %}{{ competition.name }} {{ event.name }} {{ gender|gender_to_text }}{% endblock %}
{% block meta_description %}All results for {{ event.name }} {{ gender|gender_to_text }} on
    {{ competition.name }}{% endblock %}

{% block breadcrumbs %}

    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Competitions" "competition-list" %}
    {% breadcrumb competition.name "competition-overview" competition.slug %}
    {% with gender_name=gender|gender_to_text %}
        {% with label=event.name|add:" "|add:gender_name %}
            {% breadcrumb label "competition-event" competition.slug event.name|to_url gender|gender_to_text %}
        {% endwith %}
    {% endwith %}

    {% render_breadcrumbs "lifesaving_rankings/breadcrumb_template.html" %}

{% endblock %}


{% block content %}
    <h1 class="ui header">{{ competition.name }}</h1>

    <a href="{% url 'competition-overview' competition.slug %}" class="back button">
        <button class="ui left labeled icon button back">
            <i class="left arrow icon"></i>
            Back
        </button>
    </a>

    <h2 class="ui header">{{ event.name }} {{ gender|gender_to_text }}</h2>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>#</th>
            <th>Athlete</th>
            <th>YoB</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'athlete-overview' result.athlete.slug %}">{{ result.athlete.name }}</a></td>
                <td>{{ result.athlete.year_of_birth|format_year_of_birth }}</td>
                <td>{{ result.time|format_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}