{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter django_bootstrap_breadcrumbs %}
{% load to_url_filter %}

{% block head_title %}{{ athlete.name }}: {{ event.name }}{% endblock %}
{% block meta_description %}All the times of {{ athlete.name }} on the {{ event.name }},
    collected on Lifesaving Rankings{% endblock %}

{% block breadcrumbs %}

    {% breadcrumb "Home" "/" %}
    {% breadcrumb athlete.name "athlete-overview" athlete.slug %}
    {% breadcrumb event.name "athlete-event" athlete.slug event.name|to_url %}

    {% render_breadcrumbs "lifesaving_rankings/breadcrumb_template.html" %}

{% endblock %}

{% block content %}
    <h1>
        {{ athlete.name }} - {{ event.name }}
    </h1>

    <a href="{% url 'athlete-overview' slug=athlete.slug %}" class="back button">
        <button class="ui left labeled icon button back">
            <i class="left arrow icon"></i>
            Back
        </button>
    </a>

    <table class="ui celled table" id="eventByAthlete">
        <thead>
        <tr>
            <th>Competition</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        {% for times in object_list %}
            <tr>
                <td>{% if times.competition__name %}<a href="{% url 'competition-overview' times.competition__slug %}">{{ times.competition__name }}</a>{% endif %}
                </td>
                <td><span hidden>{{ times.competition__date|date:"Y-m-d" }}</span>{{ times.competition__date }}</td>
                <td>{{ times.time|format_time }}{% if forloop.first %}
                    <sup><i class="disabled small icon star outline"></i></sup>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
