{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter %}
{% load to_url_filter %}

{% block head_title %}{{ athlete.first_name }} {{ athlete.last_name }}: {{ event.name }}{% endblock %}
{% block meta_description %}All the times of {{ athlete.first_name }} {{ athlete.last_name }} on the {{ event.name }},
    collected on Lifesaving Rankings{% endblock %}

{% block content %}
    <a href="{% url 'athlete-overview' slug=athlete.slug %}">
        < back
    </a>
    <h1>
        {{ athlete.first_name }} {{ athlete.last_name }}
    </h1>

    <h2>{{ event.name }}</h2>

    <div class="table-responsive">
        <table class="table table-striped" id="eventByAthlete">
            <thead>
            <tr>
                <td>Competition</td>
                <td>Date</td>
                <td>Time</td>
            </tr>
            </thead>
            <tbody>
            {% for times in object_list %}
                <tr>
                    <td>{{ times.competition__name }}</td>
                    <td><span class="d-none">{{ times.competition__date|date:"Y-m-d" }}</span>{{ times.competition__date }}</td>
                    <td>{{ times.time|format_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
