{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter %}
{% load to_url_filter %}
{% load static %}
{% block meta_description %}
    Lifesaving Rankings is the best and only site that compiles all Lifesaving pool competitions.
    Find out who is the fastest lifesaver and track your own progression.
{% endblock %}

{% block head_title %}
    Home
{% endblock %}

{% block content %}

    <div class="text-center website-title"><h1>Lifesaving Rankings</h1></div>

    <br>

    <div class="row">
        <div class="col-md-6">
            <h2>Men</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th class="hidden-xs">Event</th>
                        <th class="hidden-xs">Athlete</th>
                        <th class="hidden-sm hidden-md hidden-lg">Athlete <br> Event</th>
                        <th>Time</th>
                    </tr>
                    {% for top_result in object_list.0 %}
                        <tr class="hidden-xs">
                            <td>
                                <a href="{% url 'best-by-event' event_name=top_result.event__name|to_url gender='men' %}">
                                    {{ top_result.event__name }}</a>
                            </td>
                            <td>
                                <a href="{% url 'athlete-overview' top_result.athlete__slug %}">
                                    {{ top_result.athlete__first_name }} {{ top_result.athlete__last_name }}
                                </a>
                            </td>
                            <td>{{ top_result.time|format_time }}</td>
                        </tr>

                        <tr class="hidden-sm hidden-md hidden-lg">
                            <td>
                                <a href="{% url 'athlete-overview' top_result.athlete__slug %}">
                                    {{ top_result.athlete__first_name }} {{ top_result.athlete__last_name }}
                                </a> <br>
                                <a href="{% url 'best-by-event' event_name=top_result.event__name|to_url gender='women' %}">
                                    {{ top_result.event__name }}</a>

                            </td>
                            <td>{{ top_result.time|format_time }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>  <!-- End men-->

        <div class="col-md-6">
            <h2>Women</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th class="hidden-xs">Event</th>
                        <th class="hidden-xs">Athlete</th>
                        <th class="hidden-sm hidden-md hidden-lg">Athlete <br> Event</th>
                        <th>Time</th>
                    </tr>
                    {% for top_result in object_list.1 %}
                        <tr class="hidden-xs">
                            <td>
                                <a href="{% url 'best-by-event' event_name=top_result.event__name|to_url gender='men' %}">
                                    {{ top_result.event__name }}</a>
                            </td>
                            <td>
                                <a href="{% url 'athlete-overview' top_result.athlete__slug %}">
                                    {{ top_result.athlete__first_name }} {{ top_result.athlete__last_name }}
                                </a>
                            </td>
                            <td>{{ top_result.time|format_time }}</td>
                        </tr>

                        <tr class="hidden-sm hidden-md hidden-lg">
                            <td>
                                <a href="{% url 'athlete-overview' top_result.athlete__slug %}">
                                    {{ top_result.athlete__first_name }} {{ top_result.athlete__last_name }}
                                </a> <br>
                                <a href="{% url 'best-by-event' event_name=top_result.event__name|to_url gender='women' %}">
                                    {{ top_result.event__name }}</a>

                            </td>
                            <td>{{ top_result.time|format_time }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div> <!-- End women-->
    </div>

    <div class="text-center">
        <h3>Tracking <b>{{ object_list.2.count }}</b> results for <b>{{ object_list.3.count }}</b> athletes.</h3>
    </div>
{% endblock %}
