{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter %}
{% load to_url_filter %}
{% load static %}
{% block meta_description %}
    Lifesaving Rankings is the best and only site that compiles all Lifesaving pool competitions.
    Find out who is the fastest lifesaver and track your own progression.
{% endblock %}

{% block head_title %}
    Home
{% endblock %}

{% block content %}

    <div class="ui">


        {% for gender, results in top_results.genders.items %}
            <h2 class="ui header">{{ gender|capfirst }}</h2>
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>Event</th>
                    <th>Athlete</th>
                    <th>Date</th>
                    <th>Competition</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>

                {% for top_result in results %}
                    <tr>
                        <td>
                            <a href="{% url 'best-by-event' event_name=top_result.event.name|to_url gender=gender %}">
                                {{ top_result.event.name }}</a>
                        </td>
                        <td>
                            <a href="{% url 'athlete-overview' top_result.athlete.slug %}">
                                {{ top_result.athlete.name }}
                            </a>
                        </td>
                        <td>
                            {{ top_result.competition.date }}
                        </td>
                        <td>
                            <a href="{% url 'competition-overview' top_result.competition.slug %}">
                                {{ top_result.competition.name }}
                            </a>
                        </td>
                        <td>{{ top_result.time|format_time }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endfor %}


    </div>

    <div class="ui center aligned one column grid stats">
        <div class="row">
            <div class="column">
                <h3>Tracking <b>{{ result_count }}</b> results for <b>{{ athlete_count }}</b> athletes.</h3>
            </div>
        </div>
    </div>

    Last added competition:
    <a href="{% url 'competition-overview' last_added_competition.slug %}">{{ last_added_competition.name }}</a><br>
{% endblock %}
