{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter %}



{% block head_title %}Medals prototype{% endblock %}
{% block content %}
    <a href="{% url 'medals' %}">< Back</a>
    <h1>{{ athlete.name }}</h1>
    {% for competition_medal in competition_medals %}
        <h2>{{ competition_medal.competition.name }}</h2>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Medal</th>
                <th>Event</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
                {% for medal in competition_medal.medals %}
                    <tr>
                        <td>{{ medal.get_rank_display }}</td>
                        <td>{{ medal.event.name }}</td>
                        <td>{{ medal.time|format_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}