{% extends "lifesaving_rankings/base.html" %}
{% load datetime_filter %}
{% load to_url_filter %}
{% load gender_to_text_filter %}

{% block head_title %}{{ object_list.individual.0.athlete__first_name }}
    {{ object_list.individual.0.athlete__last_name }}{% endblock %}
{% block meta_description %}Find out every personal best of{{ object_list.individual.0.athlete__first_name }}
    {{ object_list.individual.0.athlete__last_name }} for each Lifesaving pool event.{% endblock %}

{% block content %}
    <h1>{{ object_list.individual.0.athlete__first_name }} {{ object_list.individual.0.athlete__last_name }}</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            {% if object_list.individual|length > 0 %}
                <tr>
                    <th>Individual event</th>
                    <th>PB</th>
                </tr>
                {% for personal_best in object_list.individual %}
                    <tr>
                        <td>
                            <a href="{% url 'best-by-event' event_name=personal_best.event__name|to_url gender=object_list.individual.0.athlete__gender|gender_to_text %}">
                                {{ personal_best.event__name }}</a>
                        </td>
                        <td>
                            <a href="{% url 'athlete-event' slug=personal_best.athlete__slug event_name=personal_best.event__name|to_url %}">
                                {{ personal_best.time|format_time }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if object_list.relay|length > 0 %}
                <tr>
                    <th>Relays</th>
                    <th></th>
                </tr>
                {% for personal_best in object_list.relay %}
                    <tr>
                        <td>
                            <a href="{% url 'best-by-event' event_name=personal_best.event__name|to_url gender=object_list.individual.0.athlete__gender|gender_to_text %}">
                                {{ personal_best.event__name }}</a>
                        </td>
                        <td>
                            <a href="{% url 'athlete-event' slug=personal_best.athlete__slug event_name=personal_best.event__name|to_url %}">
                                {{ personal_best.time|format_time }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}
