{% extends "lifesaving_rankings/base.html" %}
{% load widget_tweaks django_bootstrap_breadcrumbs %}

{% block head_title %}
    Request competition
{% endblock %}

{% block breadcrumbs %}

    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Competitions" "competition-list" %}
    {% breadcrumb "Request competition" "competition-request" %}

    {% render_breadcrumbs "lifesaving_rankings/breadcrumb_template.html" %}
    <br>
    <br>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-4">
            <h1>
                Request a competition to be added to Lifesaving Rankings
            </h1>
            {% if not form_sent %}

                <p>The more info you add, the higher the chance the competition gets added.</p>

                <form action="" method="post" class="ui form narrow">{% csrf_token %}

                    {% for field in form %}
                        {% if field.name == 'public' %}
                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                    {{ field }}
                                    <label>{{ field.label }}</label>
                                </div>
                            </div>
                        {% else %}
                            <label for="{{ field.name }}">{{ field.label }}</label>
                            {% render_field field %}
                        {% endif %}
                    {% endfor %}

                    <br>
                    <div class="ui buttons">
                        <button class="ui positive button" type="submit" value="Request">Request</button>
                    </div>


                </form>
            {% else %}
                <p>Thanks for your suggestion, I'll add it as soon as possible.</p>
            {% endif %}

        </div>
    </div>
{% endblock %}