{% extends "lifesaving_rankings/base.html" %}

{% block head_title %}Search{% endblock %}

{% block content %}
    <h1>Search results for: {{ query }}</h1>

    {% if message %}
        <div class="ui {% if success %}success{% else %}warning{% endif %} message">
            {{ message }}
        </div>
    {% endif %}

    {% if search_results %}
        <form method="post">{% csrf_token %}
            <button class="ui left labeled icon button" id="report-duplicate-athlete">
                <i class="exclamation circle icon"></i>
                Report selected athletes as duplicates
            </button>

            <div class="ui vertical menu search-results">
                {% for athlete in search_results %}
                    <a href="{% url 'athlete-overview' athlete.slug %}" class="item">
                        <div class="ui checkbox">
                            <input type="checkbox" name="duplicates" value="{{ athlete.pk }}">
                        </div>
                        {% for nationality in athlete.nationalities.all %}
                            <i class="{{ nationality.flag_code }} flag"
                               title="{{ result.athlete.nationality.name }}"></i>
                        {% endfor %}
                        {{ athlete.name }}
                        {% if athlete.year_of_birth is not None %}
                            ({{ athlete.year_of_birth }})
                        {% endif %}
                        {% if request.user.is_staff %}
                            <sup>{{ athlete.count_competitions }} | {{ athlete.count_results }}</sup>
                        {% endif %}
                        {% if athlete.gender == 1 %}
                            <i class="mars icon"></i>{% elif athlete.gender == 2 %}<i class="venus icon"></i>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </form>
    {% else %}
        <p>No search results</p>
    {% endif %}
{% endblock %}