{% extends "lifesaving_rankings/base.html" %}
{% load year_of_birth_filter %}

{% block head_title %}Search{% endblock %}

{% block content %}
    <h1>Search results for: {{ query }}</h1>

    {% if search_results %}
        <button class="ui left labeled icon button" id="report-duplicate-athlete"
                onclick="reportDuplicateAthlete(this, '{{ query }}')">
            <i class="exclamation circle icon"></i>
            Report duplicate athletes in this search
        </button>

        <div class="ui vertical menu search-results">
            {% for athlete in search_results %}
                <a href="{% url 'athlete-overview' athlete.slug %}" class="item">
                    {% if athlete.nationality %}<i class="{{ athlete.nationality.flag_code }} flag"></i>{% endif %}
                    {{ athlete.name }}
                    {% if athlete.year_of_birth is not None %}
                        ({{ athlete.year_of_birth|format_year_of_birth }})
                    {% endif %}
                    {% if request.user.is_staff %}
                        <sup>{{ athlete.count_competitions }} | {{ athlete.count_results }}</sup>
                    {% endif %}
                    {% if athlete.gender == 1 %}
                        <i class="mars icon"></i>{% elif athlete.gender == 2 %}<i class="venus icon"></i>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>No search results</p>
    {% endif %}
{% endblock %}