{% extends "lifesaving_rankings/base.html" %}

{% block head_title %}Search{% endblock %}

{% block content %}
    <h1>Search results for: {{ query }}</h1>

    {% if search_results %}
        <button class="ui left labeled icon button" id="report-duplicate-athlete"
                onclick="reportDuplicateAthlete(this, '{{ query }}')">
            <i class="exclamation circle icon"></i>
            Report duplicate athletes in this search
        </button>

        <div class="ui vertical menu">
            {% for athlete in search_results %}
                <a href="{% url 'athlete-overview' athlete.slug %}" class="item">
                    {{ athlete.name }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>No search results</p>
    {% endif %}
{% endblock %}