{% extends "lifesaving_rankings/base.html" %}
{% load django_tables2 django_bootstrap_breadcrumbs datetime_filter %}

{% block head_title %}Teams{% endblock %}

{% block breadcrumbs %}

    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Teams" "team-list" %}
    {% breadcrumb team.name "team-detail" team.slug %}
    {% breadcrumb competition.name "team-detail" competition.slug %}

    {% render_breadcrumbs "lifesaving_rankings/breadcrumb_template.html" %}

{% endblock %}

{% block content %}
    <h1>{{ team.name }} at {{ competition.name }}</h1>

    {% for participation in participations %}
        <h2>{{ participation.athlete.name }}</h2>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Event</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            {% for result in participation.get_results %}
                <tr>
                    <td>{{ result.event.name }}</td>
                    <td>{{ result.time|format_time }}</td>
                <tr></tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{% endblock %}