body {
    background: url('../images/whitediamond.png') repeat;
}

.navbar {
    margin-top: 1em;
}

div.vertical {
    margin-left: -85px;
    position: absolute;
    width: 215px;
    margin-top: 80px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); /* Safari/Chrome */
    -moz-transform: rotate(-90deg); /* Firefox */
    -o-transform: rotate(-90deg); /* Opera */
    -ms-transform: rotate(-90deg); /* IE 9 */
}

th.vertical {
    height: 220px;
    line-height: 14px;
    padding-bottom: 20px;
    text-align: left;
}