
footer.ui.grid {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 1em;
    background-color: #1b1c1d;
    color: rgba(255,255,255,.9);
    line-height: 20px;
    min-height: 70px;
    margin: 0;
}

footer .item:not(:last-child) {
    border-right: 1px solid rgba(34,36,38,.15);
}

#content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    padding-bottom: 8em;
    display: none;
}

.right.floated {
    float: right;
}


.ghost-button {
  background: none;
  padding: 0;
  border: none;
}

.ghost-button:hover {
    cursor: pointer;
}


#home-top {
    -webkit-background-size: 100%;
    background: no-repeat fixed center;
    background-size: cover;
}

#home-top .name {
    font-size: 20px;
    padding: 5em 0;
    text-transform: uppercase;
    filter: brightness(100%);
    color: white;
}


#home-top .name .de-emphasis {
    display: block;
    font-weight: 500;
}

#home-top .name {
    letter-spacing: .2em;
}

.ui.grid.stats {
    margin: 1em;
}

.main-desktop-margin {
    margin-top: 44px;
}

.main-mobile-margin {
    margin-top: 23px;
}

.no-margin {
    margin: 0 !important;
    padding: 0 !important;
}

#sidebar{
    position: fixed;
    top: 50px;
}


button.back.button {
    margin-bottom: 2em;
}


.ui.form.narrow {
    max-width: 400px;
}

.analysis-time {
    padding: 0.5em;
    width: 5em;
    overflow: hidden;
    border-radius: 4px;
}

.analysis-red {
    background-color: #E3746A;
}

.analysis-orange {
    background-color: #ffbe49;
}

.analysis-green {
    background-color: #64b054;
}

.analysis-actions .analysis-action {
    padding: 5px;
}

.selectize-input {
    margin-bottom: 10px;
}

form.filter button.ui.button {
    margin-left: 5px;
}

form.ui.form input {
    margin-bottom: 10px !important;
}

.big.facebook.icon {
    color: white;
    font-size: 40px;
}
