body {
    background: url('../images/whitediamond.png') repeat;
}

html {
    height: 100%;
}

body {
    /*padding-bottom: 100px;*/
    min-height: 100%;
    position: relative;
}

#footer {
    background-color: white;
    padding: 1em;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid lightgrey;
}

.analysis-time {
    padding: 0.5em;
    width: 5em;
    overflow: hidden;
    border-radius: 4px;
}

.analysis-red {
    background-color: #E3746A;
}

.analysis-orange {
    background-color: #ffbe49;
}

.analysis-green {
    background-color: #64b054;
}

.website-title {
    margin-top: 4em;
}


.analysis-actions .analysis-action {
    padding-right: 15px;
}

.ghost-button {
  background: none;
  padding: 0;
  border: none;
}

.ghost-button:hover {
    cursor: pointer;
}


#home-top {
    -webkit-background-size: 100%;
    background: no-repeat fixed center;
    background-size: cover;
}

#home-top .name {
    font-size: 20px;
    padding: 9em 0;
    text-transform: uppercase;
}


#home-top .name .de-emphasis {
    display: block;
    font-weight: 500;
}

#home-top .name {
    letter-spacing: .1em;
}

.main-desktop-margin {
    margin-top: 44px;
}

.main-mobile-margin {
    margin-top: 23px;
}

.no-margin {
    margin: 0 !important;
    padding: 0 !important;
}

#sidebar{
    position: fixed;
    top: 20px;
}