{% extends "lifesaving_rankings/../account.html" %}

{% load i18n styled_fields django_bootstrap_breadcrumbs %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block breadcrumbs %}

    {% breadcrumb "Home" "/" %}
    {% breadcrumb "My Account" "account" %}
    {% breadcrumb "Change password" "account_change_password" %}

    {% render_breadcrumbs "breadcrumbs.html" %}

{% endblock %}

{% block account_content %}
    <h1>{% trans "Change password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change ui form">
        {% csrf_token %}
        {% styled_fields form %}
        <button type="submit" name="action" class="ui primary button">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
