{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs active_menu_filter %}

{% block head_title %}My Account{% endblock %}

{% block breadcrumbs %}

    {% breadcrumb "Home" "/" %}
    {% breadcrumb "My Account" "account" %}
    {% breadcrumb "Details" "account" %}

    {% render_breadcrumbs "breadcrumbs.html" %}

{% endblock %}

{% block content %}
    <div class="ui stackable grid">

        <div class="four wide column">
            <div class="ui fluid vertical menu">
                <a class="{% active 'account' %} item" href="{% url 'account' %}">
                    Details
                </a>
                <a class="{% active 'account_change_password' %} item" href="{% url 'account_change_password' %}">
                    Change password
                </a>
                <a class="{% active 'private-group-list' %} item" href="{% url 'private-group-list' %}">
                    My analysis groups
                </a>
                <a class="{% active 'extra-times-list' %} item" href="{% url 'extra-times-list' %}">
                    My extra times
                </a>
            </div>
        </div>

        <div class="twelve wide column">
            {% block account_content %}
                <h3>Account details</h3>
                <p>Username: {{ request.user.username }}</p>
                {% if request.user.email %}<p>Email: {{ request.user.email }}</p>{% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}