{% extends "account/base.html" %}
{% load datetime_filter django_bootstrap_breadcrumbs %}

{% block head_title %}{{ athlete.name }}: {{ event.name }}{% endblock %}
{% block meta_description %}All the times of {{ athlete.name }} on the {{ event.name }},
    collected on Lifesaving Rankings{% endblock %}

{% block breadcrumbs %}

    {% breadcrumb "Home" "/" %}
    {% breadcrumb athlete.name "athlete-overview" athlete.slug %}
    {% breadcrumb event.name "athlete-event" athlete.slug event.slug %}

    {% render_breadcrumbs "breadcrumbs.html" %}

{% endblock %}

{% block javascript_after %}
    {% if results_ordered_by_date|length > 1 %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
                integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>

        <script>
            var ctx = document.getElementById("progression");

            data = {
                labels: [
                    {% for result in results_ordered_by_date %}
                        '{{ result.competition.date|date:"Y-m-d" }}',
                    {% endfor %}
                ],
                datasets:
                    [{
                        label: 'Result',
                        backgroundColor: 'rgba(0, 97, 191, 1)',
                        borderColor: 'rgba(0, 97, 191, .5)',
                        lineTension: .15,
                        fill: false,
                        data: [
                            {% for result in results_ordered_by_date %}
                                {
                                    x: new Date('{{ result.competition.date|date:"Y-m-d 00:00" }}'),
                                    y: '{{ result.time|format_time }}'
                                },
                            {% endfor %}
                        ],
                        borderWidth: 3
                    }]
            }
            ;


            var myChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    legend: {
                        display: false
                    },
                    responsive: true,
                    scales: {
                        yAxes: [{
                            type: 'time',
                            time: {
                                parser: 'm:ss.SS',
                                unit: 'seconds',
                                min: '{{ fastest_time.time__min|format_time }}',
                                max: '{{ slowest_time.time__max|format_time }}',
                                unitStepSize: 3,
                                displayFormats: {
                                    'seconds': 'm:ss.SS'
                                }
                            },
                            ticks: {
                                reverse: true
                            }
                        }],
                        xAxes: [{
                            type: 'time',
                            time: {
                                tooltipFormat: 'MMMM D, Y'
                            }
                        }]
                    }
                }
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {{ athlete.name }} - {{ event.name }}
    </h1>

    <a href="{% url 'athlete-detail' athlete.slug %}" class="back button">
        <button class="ui left labeled icon button back">
            <i class="left arrow icon"></i>
            Back
        </button>
    </a>

    {% if results_ordered_by_date|length > 1 %}
        <button class="ui left labeled icon primary button" onclick="$('.ui.modal.chart').modal('show');">
            <i class="chart area icon"></i>
            Progression
        </button>

        <div class="ui modal chart">
            <i class="close icon"></i>
            <div class="header">
                Progression {{ event.name }}
            </div>
            <div class="image content">
                <div class="description">
                    <canvas id="progression"
                            style="max-width: 900px !important; max-height: 500px !important;"></canvas>
                </div>
            </div>
        </div>
    {% endif %}

    <table class="ui celled table" id="eventByAthlete">
        <thead>
        <tr>
            <th>Competition</th>
            <th>Time</th>
            <th>Location</th>
            <th>Date</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        {% for time in object_list %}
            <tr {% if time.extra_analysis_time_by is not None %}class="blue"{% endif %}>
                <td>
                    {% if time.competition.name %}
                        <a href="{% url 'competition-detail' time.competition.slug %}">{{ time.competition.name }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td {% if time.extra_analysis_time_by is not None %}data-tooltip="This time was added by you"{% endif %}>
                    {% include 'partials/time.html' with individual_result=time %}
                    {% if forloop.first %}<sup><i class="disabled small icon star outline"></i></sup>{% endif %}
                    {% if time.extra_analysis_time_by is not None %}
                        <a href="{% url 'delete-time' time.pk %}" class="mini ui right floated icon button">
                            <i class="trash icon"></i>
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if time.extra_analysis_time_by is None %}
                        {{ time.competition.location }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <span hidden>{{ time.competition.date|date:"Y-m-d" }}</span>
                    {{ time.competition.date }}
                </td>
                <td>{% if time.points > 0 %}{{ time.points }}{% else %} - {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
