<!DOCTYPE html>
{% load staticfiles i18n %}
{% load account %}
{% load active_menu_filter %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lifesaving Rankings | {% block head_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block css %}
        <link rel="stylesheet" href='{% static 'css/bootstrap.min.css' %}'>

        <!-- Your stuff: Third-party CSS libraries go here -->

        <!-- This file stores project-specific CSS -->
        <link href="{% static 'css/project.css' %}" rel="stylesheet">

    {% endblock %}

</head>

{% block body %}

    <div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Lifesaving Rankings</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    {% block nav %}
                        <ul class="nav navbar-nav">
                            <li class="dropdown {% active 'analysis' %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Analysis <span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'analysis:analysis' 'men' %}">Men</a></li>
                                    <li><a href="{% url 'analysis:analysis' 'women' %}">Women</a></li>

                                    <li role="separator" class="divider"></li>

                                    {% if user.is_authenticated %}
                                        <li><a href="{% url 'analysis:private-group-list' %}">My groups</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'analysis:public-group-list' %}">Public groups</a></li>
                                </ul>
                            </li>
                        </ul>

                        {% if user.is_authenticated %}
                            <p class="navbar-text navbar-right">Logged in as: {% user_display user %}</p>
                        {% endif %}

                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                                <li role="presentation" class="{% active 'account_logout' %}"><a
                                        href="{% url 'account_logout' %}">Logout</a></li>
                            {% else %}
                                <li role="presentation" class="{% active 'account_login' %}"><a
                                        href="{% url 'account_login' %}">Login</a></li>
                                <li role="presentation" class="{% active 'account_signup' %}"><a
                                        href="{% url 'account_signup' %}">Sign up</a></li>
                            {% endif %}
                        </ul>
                    {% endblock %}
                </div>
            </div>
        </nav>

        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <div class="container-fluid" id="main">
            {% block content %}
                <p>Use this document as a way to quick start any new project.</p>
            {% endblock %}
        </div>

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
        <!-- Required by Bootstrap 3 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
                integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
                integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <!-- Your stuff: Third-party javascript libraries go here -->

        <!-- place project specific Javascript in this file -->


        <script src="{% static 'javascript/main.js' %}"></script>


    {% endblock %}
    <footer id="footer">
        <div class="container">
            <div class="container-fluid">
            <span class="pull-right">
            Created by <a href="https://www.rubenvanerk.nl">Ruben van Erk</a>
            </span>
            </div>
        </div>
    </footer>
    {% block footer %}

    {% endblock %}

    {% block javascript_after %}{% endblock %}


{% endblock %}
</html>

