{% extends "lifesaving_rankings/base.html" %}

{% block head_title %}
    Changelog
{% endblock %}

{% block content %}
    <h1>Changelog</h1>
    <h2 id="2020.05.08">2020.05.08</h2>
    <h3>Fixed</h3>
    <ul>
        <li>Add time page is reachable again</li>
        <li>Anchors in URLs now scroll to the right section for static pages</li>
    </ul>
    <h3>Removed</h3>
    <ul>
        <li>Removed omplete relays from add result form,
            only individual event results should be available to add to an athlete
        </li>
    </ul>
    <h2 id="2020.05.07">2020.05.07</h2>
    <h3>Added</h3>
    <ul>
        <li>New changelog to communicate changes to users</li>
        <li>Pipelines to streamline development process</li>
    </ul>
    <h3>Changed</h3>
    <ul>
        <li>Improved lot of code to make it easier to understand and develop</li>
    </ul>
    <h3>Removed</h3>
    <ul>
        <li>Need for <code>|to_url</code> filter</li>
    </ul>
{% endblock %}
