@charset "UTF-8";

@import "utils/vendor";


footer.ui.grid {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 1em;
    background-color: #1b1c1d;
    color: rgba(255, 255, 255, .9);
    line-height: 20px;
    min-height: 70px;
    margin: 0;
}

footer .item:not(:last-child) {
    border-right: 1px solid rgba(34, 36, 38, .15);
}

#content {
    padding-top: 2em;
    padding-bottom: 8em;
    display: none;
}

.right.floated {
    float: right;
}

.ghost-button {
    background: none;
    padding: 0;
    border: none;
}

.ghost-button:hover {
    cursor: pointer;
}


#home-top {
    -webkit-background-size: 100%;
    background: no-repeat fixed center;
    background-size: cover;
}

#home-top .name {
    font-size: 20px;
    padding: 5em 0;
    text-transform: uppercase;
    filter: brightness(100%);
    color: white;
}


#home-top .name .de-emphasis {
    display: block;
    font-weight: 500;
}

#home-top .name {
    letter-spacing: .2em;
}

.ui.grid.stats {
    margin: 1em;
}

.main-desktop-margin {
    margin-top: 44px;
}

.main-mobile-margin {
    margin-top: 23px;
}

.no-margin {
    margin: 0 !important;
    padding: 0 !important;
}

#sidebar {
    position: fixed;
    top: 50px;
}


button.back.button {
    margin-bottom: 2em;
}


.ui.form.narrow {
    max-width: 400px;
}

.analysis-time {
    padding: 0.5em;
    width: 5em;
    overflow: hidden;
    border-radius: 4px;
}

.analysis-red {
    background-color: #E3746A;
}

.analysis-orange {
    background-color: #ffbe49;
}

.analysis-green {
    background-color: #64b054;
}

.analysis-actions .analysis-action {
    padding: 5px;
}

.selectize-input {
    margin-bottom: 10px;
}

form.filter button.ui.button {
    margin-left: 5px;
}

form.ui.form input {
    margin-bottom: 10px !important;
}

.big.facebook.icon {
    color: white;
    font-size: 40px;
}

.athlete .name {
    float: left;
    margin-right: 10px;
}

.athlete .details {
    margin-top: 5px;
}

.athlete .details i {
    margin: 0;
}

#content i.flag {
    margin: 0;
}

.ui.dropdown.year-of-birth {
    min-width: inherit;
}

.ui.calendar .ui.input {
    width: 13em;
    float: left;
}

.ui.fluid.search.selection.dropdown.left.floated.nationalities {
    width: 15em !important;
}

@media screen and (max-width: 1200px) {
    .ui.calendar .ui.input:last-of-type {
        margin-top: 10px;
    }
}

.merge.cards .card.selected, .merge.cards .card.selected:hover {
    border: 1px solid green !important;
}

.merge.cards .card:not(.selected), .merge.cards .card:not(.selected):hover {
    border: 1px solid red !important;
}

.medal {
    border: 2px solid;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    text-align: center;
}

@media only screen and (min-width: 769px) {
    .medal {
        margin-left: -7px;
    }
}

.medal.gold {
    border-color: gold;
}

.medal.silver {
    border-color: silver;
}

.medal.bronze {
    border-color: #cd7f32;
}

button.ui.button.request-a-competition {
    margin-bottom: 1em;
}

#competition-filters {
    margin-bottom: 1.5em;
}

.ui.menu.top .item > img {
    width: 27px;
    height: auto;
    margin-right: 5px;
}

.loading {
    position: relative;
    overflow: hidden;
}

.loading:after {
    content: '';
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    background: rgba(218, 218, 218, 0.1) url("../images/loading.gif") no-repeat center;
    z-index: 10;
}

form.filter .styled.accordion {
    width: 100%;
    margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {
    #bestByEventWrapper .ui.grid .row .column {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.ui.breadcrumb {
    margin-bottom: 1em;
}

.item.facebook {
    padding-top: 7px;
}

.ui.stackable.grid .statistics.row {
    margin-top: 2em;
    margin-bottom: 2em;
}

.ui.container .ui.container.table-container {
    margin: 0;
}

.full.width {
    width: 100%;
}

.ui.vertical.menu.search-results {
    width: 100%;
}
